.court-card {
  width: 300px;
  background-color: #f8fffa;
  border: 1px solid #ccc;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  transition: 0.3s;
}

.court-card:hover {
  transform: translateY(-4px);
}

.court-image {
  width: 100%;
  height: 160px;
  object-fit: cover;
}

.court-info {
  padding: 20px;
  text-align: start;
}

.court-info h3 {
  margin-bottom: 8px;
  font-size: 18px;
  color: #012109;
}

.court-info p {
  color: #666;
  font-size: 14px;
  margin-bottom: 12px;
}

.book-btn {
  background-color: #000000;
  padding: 6px 12px;
  color: rgb(255, 255, 255);
  border-radius: 8px;
  font-size: small;
  text-decoration: none;
  font-weight: 500;
}
